$font-color-default: #FFFFFF;
$font-color-hover: #CCCCCC;
$nominee-card-and-submit-button-default: #009B86;
$nominee-card-and-submit-button-hover: #34AC9C;
$nominee-card-selected: #099BB3;

@media (min-width: 769px) {
  .category {
    @import "../Nominee/Nominee";
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    gap: 20px;
  }

  header {
    margin-top: 20px;
    border-bottom: 1px solid $font-color-default;
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .category {
    @import "../Nominee/Nominee";
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 20px;
  }

  header {
    margin-top: 20px;
    border-bottom: 1px solid $font-color-default;
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: left;
  }
}
