$page-background: #0D2436;
$font-color-default: #FFFFFF;
$font-color-hover: #CCCCCC;
$nominee-card-and-submit-button-default: #009B86;
$nominee-card-and-submit-button-hover: #34AC9C;
$nominee-card-selected: #099BB3;

.ballot {
  div {
    color: $font-color-default;
    border-radius: 5px;
    padding: 5px;
    background-color: $nominee-card-and-submit-button-default;
    border: 1px #017263;
    transition: all .5s;
    &:hover {
      color: $font-color-hover;
      background-color: $nominee-card-and-submit-button-hover;
    }
  }
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  gap: 20px;
}

header {
  margin-top: 20px;
  background-color:darkgray;
  grid-column: 1 / 4;
  grid-row: 1;
}