$page-background: #0D2436;
$font-color-default: #FFFFFF;
$font-color-hover: #CCCCCC;
$nominee-card-and-submit-button-default: #009B86;
$nominee-card-and-submit-button-hover: #34AC9C;
$nominee-card-selected: #099BB3;

