.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nominee {
  color: $font-color-default;
  padding: 5px;
  background-color: $nominee-card-and-submit-button-default;
  border: 1px #017263;
  transition: all .5s;
  &:hover {
    color: $font-color-hover;
    background-color: $nominee-card-and-submit-button-hover;
  }
  button {
    background-color: darkgray;
    &:hover {
      background-color: rgb(192, 189, 189);
    }
  }
}

.selected-nominee {
  color: $font-color-default;
  padding: 5px;
  background-color: $nominee-card-selected;
  transition: all .5s;
  button {
    opacity: 0.6;
  }
}