@import "colors";

body {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $page-background;
  color: $font-color-default
}